 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/smart-pensive-redhead-hipster-with-full-beard-glasses-dressed-casual-clothes-poses-with-hand-chin-studio-isolated-dark-background5-min.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 345px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 345px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0 0;
  padding: 18px 42px 18px 41px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 60px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-right: 145px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 74.21% 50%;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 667px;
}

.u-section-2 .u-text-1 {
  width: 754px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 345px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 262px;
  height: 258px;
  margin: -2px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 345px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 108px;
  transform-origin: left center;
  margin: 31px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 55px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-7 {
  width: 375px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1358px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.333333333333336% - 12.6667px);
  grid-template-columns: repeat(3, calc(33.333333333333336% - 12.6667px));
  min-height: 927px;
  grid-gap: 19px;
  --gap: 19px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 299px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 77px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-16 {
  height: 100%;
}

.u-section-3 .u-icon-17 {
  height: 100%;
}

.u-section-3 .u-icon-18 {
  height: 100%;
}

.u-section-3 .u-text-15 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 762px;
  }

  .u-section-3 .u-image-1 {
    height: 237px;
  }

  .u-section-3 .u-image-2 {
    height: 237px;
  }

  .u-section-3 .u-image-3 {
    height: 237px;
  }

  .u-section-3 .u-image-4 {
    height: 237px;
  }

  .u-section-3 .u-image-5 {
    height: 237px;
  }

  .u-section-3 .u-image-6 {
    height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.500025px);
    grid-template-columns: repeat(2, calc(50% - 9.500025px));
    min-height: 1337px;
  }

  .u-section-3 .u-image-1 {
    height: 281px;
  }

  .u-section-3 .u-image-2 {
    height: 281px;
  }

  .u-section-3 .u-image-3 {
    height: 281px;
  }

  .u-section-3 .u-image-4 {
    height: 281px;
  }

  .u-section-3 .u-image-5 {
    height: 281px;
  }

  .u-section-3 .u-image-6 {
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }

  .u-section-3 .u-image-2 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-2 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }

  .u-section-3 .u-image-3 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-3 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }

  .u-section-3 .u-image-4 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-4 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }

  .u-section-3 .u-image-5 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-5 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }

  .u-section-3 .u-image-6 {
    height: 487px;
  }

  .u-section-3 .u-social-icons-6 {
    height: 22px;
    width: 85px;
    margin-right: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 325px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 325px;
  }
} .u-section-4 {
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.45), rgba(26, 26, 26, 0.45)), url('images/vintage-frame-salon-tools-wooden-table-2-min1.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 749px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  min-height: 455px;
  grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  grid-gap: 20px;
  --gap: 20px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  height: 85px;
  width: 85px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 663px;
    grid-auto-columns: calc(50% - 9.999975px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 852px;
}

.u-section-5 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 574px;
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-3 {
  background-image: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-4 {
  background-image: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/man-cuts-his-beard-barbershop_111.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 232px;
  height: 232px;
  background-image: url("images/handsome-man-cutting-beard-barber-4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 232px;
  height: 232px;
  background-image: url("images/portrait-man-barbershop-with-cla.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-7 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-5 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 232px;
  height: 232px;
  background-image: url("images/stylish-man-sitting-barbershop_11.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-9 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 30px auto 70px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 660px;
  }

  .u-section-5 .u-text-3 {
    width: 660px;
  }

  .u-section-5 .u-text-4 {
    width: 660px;
  }

  .u-section-5 .u-text-5 {
    width: 660px;
  }

  .u-section-5 .u-text-6 {
    width: 660px;
  }

  .u-section-5 .u-text-7 {
    width: 660px;
  }

  .u-section-5 .u-text-8 {
    width: 660px;
  }

  .u-section-5 .u-text-9 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: 520px;
  }

  .u-section-5 .u-text-3 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: 520px;
  }

  .u-section-5 .u-text-5 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: 520px;
  }

  .u-section-5 .u-text-7 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    width: 520px;
  }

  .u-section-5 .u-text-9 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 320px;
  }

  .u-section-5 .u-text-3 {
    width: 320px;
  }

  .u-section-5 .u-text-4 {
    width: 320px;
  }

  .u-section-5 .u-text-5 {
    width: 320px;
  }

  .u-section-5 .u-text-6 {
    width: 320px;
  }

  .u-section-5 .u-text-7 {
    width: 320px;
  }

  .u-section-5 .u-text-8 {
    width: 320px;
  }

  .u-section-5 .u-text-9 {
    width: 320px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 796px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 24px rgba(0,0,0,0.65);
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 11.5px));
  min-height: 457px;
  grid-auto-columns: calc(50% - 11.5px);
  grid-gap: 23px;
  --gap: 23px;
}

.u-section-6 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-3 {
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-5 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-8 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-9 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-10 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-11 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-12 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-13 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-14 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-15 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-16 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-17 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-18 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-19 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-20 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-21 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-22 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-6 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px 30px 18px;
}

.u-section-6 .u-text-23 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-6 .u-text-24 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-6 .u-text-25 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-19 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-22 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-25 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-14 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-17 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-18 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-20 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-23 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-24 {
    margin-top: 20px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/human-face-expressions-emotions-headshot-young-model-with-thick-beard-posing-with-angry-unfriendly-look3-min.jpg');
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 510px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 701px;
  margin: 105px 0 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 25px 27px 1px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6rem;
  margin: 0 0 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 381px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 1px 0 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  font-style: italic;
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 18px 40px 19px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    background-position: 50% 50%, 66.75% 62.56%;
    background-size: auto 110%, auto 105%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 41px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 645px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 336px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    background-position: 50% 50%, 32.06% 0%;
    background-size: auto 110%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 320px;
    margin-top: 80px;
    margin-bottom: 44px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 30px;
    margin-left: 0;
    font-size: 4.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 275px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.8rem;
  }

  .u-section-7 .u-btn-2 {
    padding-right: 26px;
    padding-left: 24px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 557px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-1 {
  width: 425px;
  height: 510px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-form-1 {
  height: 64px;
  margin: 20px 39px 0 0;
}

.u-section-8 .u-input-1 {
  height: 55px;
  --radius: 50px;
  font-size: 1.125rem;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  --radius: 50px;
  font-size: 1.125rem;
  padding: 15px 62px 16px 61px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-8 .u-image-1 {
    width: 409px;
    height: 491px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 788px;
    order: 1;
  }

  .u-section-8 .u-image-1 {
    width: 670px;
    height: 766px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-8 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 522px;
    height: 574px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-8 .u-image-1 {
    width: 330px;
    height: 362px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
    margin-top: 4px;
  }
}